* {
    margin: 0;
    padding: 0;
}

body {
    margin: 1.5em;
}
.image-upload > input
{
    display: none;
}
.attach-doc
{
    cursor: pointer;
}
.hide-close .ui-dialog-titlebar-close { display: none !important}
/*    --------------------------------------------------
    :: Header
    -------------------------------------------------- */

header {
    color: #6d6d6d;
    font-size: 40px;
    text-align: center;

}

header p {
    margin-bottom: 0;
}

header div h1 {
    color: #008000;
    font-size: 34px;
}

header div small {
    color: #008000;
}


/*    --------------------------------------------------
    :: Cuerpo
    -------------------------------------------------- */

h2 {
    text-align: center;
}

#h3Menu {
    padding-bottom: 10px;
    margin: 0;
}


/*    --------------------------------------------------
    :: Menu
    -------------------------------------------------- */

#menu {
    padding: 2em;
}


/*    --------------------------------------------------
    :: Login
    -------------------------------------------------- */

#login {
    padding: 2em;
}


/*    --------------------------------------------------
    :: Footer
    -------------------------------------------------- */

#footer {
    color: #6d6d6d;
    font-size: 15px;
    text-align: center;
}

#footer p {
    margin-bottom: 0;
}

.inicio{
    position: fixed;
    margin-left: 23%;
    margin-bottom: 100%;
}

.uabc{
    color:#017141;
}
.facultad{
    color:#017141;
}
.logo {
    height: 110px;
}
.bienvenida{
    margin-left:10px;
}

.sort-click{
    cursor:pointer;
}
.footer-listar{
    margin-left:20%;
}

td
{
    height: 50px;
    width:50px;
}
#cssTable td
{
    text-align:center;
    vertical-align:middle;
}
/*----------------------------------------------*/
body,html{
    height: 100%;
}

nav.sidebar, .main{
    -webkit-transition: margin 200ms ease-out;
    -moz-transition: margin 200ms ease-out;
    -o-transition: margin 200ms ease-out;
    transition: margin 200ms ease-out;
}

.main{
    padding: 10px 10px 0 10px;
}

@media (min-width: 765px) {

    .main{
        position: absolute;
        width: calc(100% - 40px);
        margin-left: 40px;
        float: right;
    }

    nav.sidebar:hover + .main{
        margin-left: 200px;
    }

    nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
        margin-left: 0px;
    }

    nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
        text-align: center;
        width: 100%;
        margin-left: 0px;
    }

    nav.sidebar a{
        padding-right: 13px;
    }

    nav.sidebar .navbar-nav > li:first-child{
        border-top: 1px #e5e5e5 solid;
    }

    nav.sidebar .navbar-nav > li{
        border-bottom: 1px #e5e5e5 solid;
    }

    nav.sidebar .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
        padding: 0 0px 0 0px;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color: #777;
    }

    nav.sidebar{
        width: 200px;
        height: 100%;
        margin-left: -160px;
        float: left;
        margin-bottom: 0px;
    }

    nav.sidebar li {
        width: 100%;
    }

    nav.sidebar:hover{
        margin-left: 0px;
    }

    .forAnimate{
        opacity: 0;
    }
}

@media (min-width: 1330px) {

    .main{
        width: calc(100% - 200px);
        margin-left: 200px;
    }

    nav.sidebar{
        margin-left: 0px;
        float: left;
    }

    nav.sidebar .forAnimate{
        opacity: 1;
    }
}

nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #CCC;
    background-color: transparent;
}

nav:hover .forAnimate{
    opacity: 1;
}
section{
    padding-left: 15px;
}